@charset "utf-8";


.btn-crw {
    color: #333;
    background-color:#8ad3ed;
    border-color: #8ad3ed;
}

.btn-crw:focus,
.btn-crw.focus {
    color:#333;
    background-color: #77b8ce;
    border-color: #77b8ce;
}

.btn-crw:hover {
    color: #333;
    background-color: #8ad3ed;
    border-color: #8ad3ed;
}

.btn-crw:active,
.btn-crw.active,
.open > .dropdown-toggle.btn-crw {
    color: #333;
    background-color: #8ad3ed;
    border-color: #8ad3ed;
}

.btn-crw:active:hover,
.btn-crw.active:hover,
.open > .dropdown-toggle.btn-crw:hover,
.btn-crw:active:focus,
.btn-crw.active:focus,
.open > .dropdown-toggle.btn-crw:focus,
.btn-crw:active.focus,
.btn-crw.active.focus,
.open > .dropdown-toggle.btn-crw.focus {
    color: #333;
    background-color: #8ad3ed;
    border-color: #8ad3ed;
}

.btn-crw:active,
.btn-crw.active,
.open > .dropdown-toggle.btn-crw {
    background-image: none;
}

.btn-crw.disabled:hover,
.btn-crw[disabled]:hover,
fieldset[disabled] .btn-crw:hover,
.btn-crw.disabled:focus,
.btn-crw[disabled]:focus,
fieldset[disabled] .btn-crw:focus,
.btn-crw.disabled.focus,
.btn-crw[disabled].focus,
fieldset[disabled] .btn-crw.focus {
    background-color: #77b8ce;
    border-color: #77b8ce;
}

.btn-crw .badge {
    color: #8ad3ed;
    background-color: #fff;
}

.form-control-feedback {
      z-index: 3;
}

.nav-tabs li a {
      cursor: pointer;
}
