<!DOCTYPE html>
<html lang="en" ng-app="crwApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>crw - Dashboard</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/chart.js/dist/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="app.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="crwController">
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        crw
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Scheduling</a>
                </li>
                <li>
                    <a href="#">Results</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>Update Health info</h3>
                                <form>
                                    <div class="form-group">
                                        <label for="inputDate">Date</label>
                                        <input ng-model="healthDate" type="date" class="form-control" id="inputDate">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputHR">Resting Heart Rate</label>
                                        <input ng-model="healthHR" type="number" class="form-control" id="inputHR" placeholder="HR">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputWeight">Weight</label>
                                        <input ng-model="healthWeight" type="number" class="form-control" id="inputWeight" placeholder="Weight">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputFeeling">Feeling</label>
                                        <textarea ng-model="healthFeeling" class="inputFeeling form-control" rows="3">How do you feel today?</textarea>
                                    </div>
                                    <button ng-click="submitHealth()" type="submit" class="btn btn-default">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="thumbnail">
                            <div class="caption">
                            <h3>Health Overview</h3>
                            <canvas
                            id="HrGraph" class="chart chart-line"
                            chart-data="HRdata.data"
                            chart-labels="HRdata.labels"
                            chart-series="HRdata.series"
                            chart-options="HRdata.options"
                            chart-dataset-override="HRdata.datasetOverride"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>Log Training</h3>
                                <ul class="nav nav-tabs">
                                  <li role="presentation" class="active"><a href="#">Interval 1</a></li>
                                  <li role="presentation"><a href="#">New Interval</a></li>
                                </ul>
                                <form>
                                    <div class="form-group">
                                        <label for="inputTrainTime">Date & Time</label>
                                        <input type="datetime-local" class="form-control" id="inputDate">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputType">Type Training</label>
                                        <input type="text" class="form-control" id="inputType" placeholder="Type">
                                    </div>
                                </form>
                                <form class="form-inline form-group-sm">
                                    <div class="form-group">
                                        <label for="inputDurance">Durance</label>
                                        <input type="time" class="form-control" id="inputDurance">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputRest">Rest</label>
                                        <input type="time" class="form-control" id="inputRest">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputRest">Pace</label>
                                        <input type="number" class="form-control" id="inputRest" placeholder="strokes/min">
                                    </div>
                                </form>
                                <form>
                                       <div class="form-group">
                                           <label for="inputWatt">watt</label>
                                           <input type="number" class="form-control" id="inputWatt" placeholder="watt">
                                    </div>
                                      <div class="form-group">
                                          <label for="inputSplit">split</label>
                                          <input type="time" class="form-control" id="inputSplit" placeholder="time/500m">
                                      </div>
                                      <div class="form-group">
                                          <label for="inputDistance">distance</label>
                                          <input type="number" class="form-control" id="inputDistance" placeholder="m">
                                      </div>
                                      <button type="submit" class="btn btn-default">Submit</button>
                                   </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>Performance</h3>
                                <canvas
                                id="PerfGraph" class="chart chart-line"
                                chart-data="Perfdata.data"
                                chart-labels="Perfdata.labels"
                                chart-series="Perfdata.series"
                                chart-options="Perfdata.options"
                                chart-dataset-override="Perfdata.datasetOverride"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
