<div class="thumbnail">
    <div class="caption">
        <h3>{{ caption }}</h3>
    </div>
    <ul class="nav nav-tabs">
        <li ng-click="$ctrl.tabClick(0)" role="presentation" class="active"><a data-toggle="tab" data-target="#graph-{{ type }}">graph</a></li>
        <li ng-show="tableColumns" ng-click="$ctrl.tabClick(1)" role="presentation"><a data-toggle="tab" data-target="#table-{{ type }}">table</a></li>
    </ul>
    
    <div class="table-content">
        <div ng-show="$ctrl.pane == 0" id="graph-{{ type }}" class="tab-pane fade in active">
            <canvas
            id="chart-{{ type }}"
            class="chart chart-line"
            chart-data="chartData.data"
            chart-labels="chartData.labels"
            chart-series="chartData.series"
            chart-options="chartData.options"
            chart-dataset-override="chartData.datasetOverride"
            ></canvas>
            <div class="row">
                <div class="col-xs-12">
                    <div class="btn-group btn-group-xs pull-right" data-toggle="buttons">
                        <label class="active btn btn-default" ng-click="updateView({timespan:7, view:null})">
                            <input checked name="timespan" type="radio" value="7">week
                        </label>
                        <label class="btn btn-default" ng-click="updateView({timespan:30, view:null})">
                            <input name="timespan" type="radio" value="30">30 days
                        </label>
                        <label class="btn btn-default" ng-click="updateView({timespan:365, view:null})">
                            <input name="timespan" type="radio" value="365">year
                        </label>
                    </div>
                    <div style="margin-right: .5em" ng-show="view" class="btn-group btn-group-xs pull-right" data-toggle="buttons">
                        <label ng-repeat="t in view" class="btn btn-default" ng-class="{active: t==view[0]}" ng-click="updateView({timespan:null, view:t})">
                            <input ng-value="t==view[0]" ng-model="view" type="radio" name="view" autocomplete="off" ng-value="t">{{ t }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="$ctrl.pane == 1" id="table-{{ type }}" class="tab-pane fade">
            <div class="table-responsive">
                <table class="table table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" ng-repeat="h in tableColumns">{{ h }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="r in $ctrl.tableView">
                            <td class="text-center" ng-repeat="d in r track by $index">
                                {{ d }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="btn-group btn-group-sm pull-right">
                        <button ng-disabled="$ctrl.tablePage === 0" ng-click="$ctrl.prev()" class="btn btn-default glyphicon glyphicon-arrow-left"></button>
                        <button ng-disabled="$ctrl.tablePage >= $ctrl.numPages - 1" ng-click="$ctrl.next()" class="btn btn-default glyphicon glyphicon-arrow-right"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
