<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
			<div class="col-lg-6">
				<div class="well-lg well">
					<div class="row">
                        <div class="col-xs-3">
                            <img src="favicon.ico" class="img-responsive">
                        </div>
                        <div class="col-xs-9">
                            <h1>Welcome, coach!</h1>
                            <p>You can manage your crew here.</p>
                        </div>
					</div>
				</div>
			</div>
		</div>

        <div class="row">
            <div class="col-md-6">
                <alert ng-show="error.show" type="danger">{{ error.text }}</alert>
            </div>
        </div>
					
		<div class="row">
			<div class="col-md-6">
				<table class="table table-bordered table-hover table-striped table-responsive">
					<thead>
						<tr>
							<th>
                                E-mail
                                <span class="pull-right">
                                    Actions
                                </span>
                            </th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="x in members | orderBy: 'email'">
							<td>{{ x.email }}
                                <div class="pull-right btn-group btn-group-xs">
                                    <a ng-click="toggleCoach(x)" title="Coach" class="btn btn-default"><i ng-class="['glyphicon', {'glyphicon-bullhorn': x.coach, 'glyphicon-user': !x.coach}]"></i> {{ x.coach ? 'Coach' : 'Rower' }}</a>
                                    <a ng-click="removeUser(x)" title="Remove" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </td>
						</tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <form ng-submit="addUser()">
                                    <div class="input-group input-group-xs">
                                        <input ng-model="newRowerEmail" ng-disabled="newRowerSubmitting" class="form-control" type="email" ng-model="addRowerEmail" placeholder="Add a {{ newRowerCoach ? 'coach' : 'rower' }}..." />
                                        <span class="input-group-btn">
                                            <a class="btn btn-default" ng-click="toggleNewRowerCoach()" title="{{ newRowerCoach ? 'Coach' : 'Rower' }}">
                                                <i ng-class="['glyphicon', {'glyphicon-bullhorn': newRowerCoach, 'glyphicon-user': !newRowerCoach}]"></i>
                                            </a>
                                            <button type="submit" class="btn btn-primary" title="Add">
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </td>
                        </tr>
					</tfoot>
				</table>
			</div>
		</div>			
	</div>
</div>

