<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<div class="well-lg well">
						<div class="row">
						<div class="col-xs-3">
							<img src="favicon.ico" class="img-responsive">
						</div>
						<div class="col-sm-9" ><h1>Welcome, coach!</h1>
                            <p>Here's an overview of your crew's health & performance</p>
						</div>						   
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
                <overview
                    caption="Heart Rate Overview"
                    chart-data="HRdata"
                    on-update-view="updateHRView(timespan, view)" 
                    table-columns="hrTableColumns"
                    table-data="hrTableRows" />
            </div>
			<div class="col-lg-6">
                <overview
                    caption="Weight Overview"
                    chart-data="weightData"
                    on-update-view="updateWeightView(timespan, view)"
                    table-columns="weightTableColumns"
                    table-data="weightTableRows" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <overview
                    caption="Performance Overview"
                    view="['watt', 'split']" />
            </div>
        </div>
    </div>
</div>
