<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <welcome
                    on-submit-health="submitHealth(date, hr, weight, feeling)"
                    on-submit-performance="submitPerformance(date, type, comment, intervals)"></welcome>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <alert type="danger" ng-show="error.show">{{ error.msg }}</alert>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <overview
                    on-update-view="updateHealthTimespan(timespan)"
                    type="Health"
                    chart-data="HRdata"
                    table-columns="['Date', 'Heart Rate (bpm)', 'Weight (kg)', 'Feeling']"
                    table-data="health_data"></overview>
            </div>
            <div class="col-lg-6">
                <overview
                    on-update-view="updatePerformanceView(timespan, view)"
                    type="Performance"
                    view="['watt', 'split']"
                    chart-data="Perfdata"
                    table-columns="['Date', 'Type', 'Duration', 'Power', 'Split', 'Pace', 'Rest']"
                    table-data="performance_table_data"></overview>
            </div>
        </div>
    </div>
</div>
