<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <welcome on-submit-health="submitHealth(date, hr, weight, feeling)"></welcome>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <overview type="Health" chart-data="HRdata"></overview>
            </div>
            <div class="col-lg-6">
                <overview type="Performance" view="['watt', 'split']" chart-data="Perfdata"></overview>
            </div>
        </div>
    </div>
</div>
